.form-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: 1px solid $gray;
        border-radius: 20px;
        padding: 30px;
        width: 25%;
        &.open{
            display: flex;
        }
        input:not([type=button]){
            width: 94%;
            padding: 3%;
            @include font(400);
            border: 1px solid $gray;
            outline: none;
            border-radius: 8px;
        }
        .btn.orange{
            width: 60%;
        }
        a{
            @include font(500);
            color: $black;
            transition: 0.4s;
            &:hover{
                color: $orange;
            }
        }
        h2{
            @include font(700);
            font-size: 30px;
        }
    }
}