<section class="cards">
    <div class="wrapper">
      <h2>our products</h2>
      <div class="sort" style="margin:25px 0;">
        <input type="button" value="По убыванию" class="btn orange" onclick="sortCards('DOWN')">
        <input type="button" value="По возрастанию" class="btn orange" onclick="sortCards('UP')">
        <input type="button" value="По умолчанию" class="btn orange" onclick="sortCards('default')">
      </div>
      <div class="container">
      </div>
    </div>
  </section>